---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(longDescription=poop*)?apiKey=z2ehwc7a6wvbg8n7sbmu7nuy&format=json&pageSize=15&show=sku,name,customerReviewAverage,shortDescription,salePrice,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 0,
          "total": 0,
          "currentPage": 1,
          "totalPages": 0,
          "queryTime": "0.011",
          "totalTime": "0.011",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"poop*\")?show=sku,name,customerReviewAverage,shortDescription,salePrice,image&format=json&apiKey=z2ehwc7a6wvbg8n7sbmu7nuy",
          "products": [

          ]
        }
  recorded_at: Tue, 26 Apr 2016 17:46:07 GMT
recorded_with: VCR 3.0.1
